*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.auth-box{
    background-color: #f7f7f7;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    form{
        background-color: #fff;
        padding: 2rem;
        width: 400px;
        max-width: 100%;
        border-radius: 0.5rem;

        input:not([type="checkbox"]),select,textarea{
            width: 100%;
            max-width: 100%;
            padding: 0.75rem 1rem;
            display: block;
            margin: 0;
            border-radius: 0.5rem;
            outline: none;
            border: 1px solid #d1d1d1;
        }

        label{
            display: block;
            font-size: 0.875rem;
            margin: 1rem 0 0.5rem;
        }
        button{
            width: 100%;
            padding: 1rem 1.25rem;
            margin-top: 1rem;
            display: block;
            background-color: rgb(6, 115, 203);
            border: 1px solid rgb(6, 115, 203);
            color: #fff;
            font-weight: 600;
            border-radius: 0.5rem;
        }
        a{
            margin-top: 0.75rem;
            display: block;
        }
    }
}